body{
    padding-top:4em;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2c3e50;
}

.navbar-voice{
    float: left;
}

.nav-link{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.a:visited{
    color: white;
}

.dropdown{
    background-color: red;
    font-size:10em;
    color:yellow;
}

.delete-button{
    color:black;
    text-decoration: none;
}

.delete-button:hover{
    color:white;
}

.review-button{
    color:black;
    text-decoration: none;
}

.review-button:hover{
    color:white;
}

.col-page{
    box-shadow: rgba(0, 0, 0, 0.19) 10px 10px 20px 10px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.col-page:hover{
    background-color: #e9ecef;
}

/* CSS */
.pick-task {
  align-items: center;
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 18px;
  height: 40px;
  justify-content: center;
  line-height: 1;
    outline: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
}

.pick-task:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
}

.task-name{
    text-transform:uppercase;
}

.profile-box{

    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.reviews-box{
box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.review-author{
    text-decoration: underline;
    text-transform: capitalize;
}

.review-title{
      font-style: italic;
}

.box-review{
    background-color: lightgrey;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    margin:1em;
    padding: 1.5em;
}

.task-row{
    padding: 2.5em;
}

.task-container {
    margin:2.5em;
  background-color: #f0f0f0;
  border: 2px solid #2c3e50;
  border-radius: 30px;
  box-shadow: #2c3e50 4px 4px 0 0;
  color: #2c3e50;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.task-owner{
    font-style: italic;
}
.task-title{
    font-size:68px;
    text-transform: uppercase;
    font-weight: bold;
}

.task-description{
    padding:1.5em;
}

.login-form {
    margin:1em;
    align-content: center;
    padding:32px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.signup-form{
    margin:1em;
    align-content: center;
    padding:32px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.postatask-form{
    margin:1em;
    align-content: center;
    padding:32px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.review-form{
    margin:1em;
    align-content: center;
    padding:32px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.task-address{
    font-size: 20px;
}


.extra-info {
  display: none;
  line-height: 30px;
  font-size: 12px;
	position: absolute;
  top: 0;
  left: 50px;
}


/* CSS */
.button-55 {
    padding:1em;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  box-sizing: border-box;
  color: #41403e;
  display: inline-block;
    font-size:32px;
  outline: none;
  text-decoration: none;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
    text-align: center;
}


