.navbar{
     list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

.navbar-voice{
    float: left;
}

.navbar-voice-link{
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

