{% extends "base.html" %} {% block title %}Home Stud{% endblock %} {% block content%}
 <br />
    <h1 align="center">Apply for a Task</h1>
    <form method="POST">
        <br />
        <h2 align= "center">List of open tasks</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Apply</th>
            </tr>
            </thead>
            {% for offer in tasks %}
            <tbody>
            <tr>

                <td> <a href={{ url_for('views.task', task_id=offer.id) }} >{{ offer.title }} </a></td>
                <td>{{ offer.description }}</td>
                <td> <button><a href={{ url_for('views.task', task_id=offer.id) }} >APPLY</a> </button></td>

            </tr>

            </tbody>
            {% endfor %}
        </table>
    </form>
        {% endblock %}