{% extends "base.html" %}
{% block title %}List of application{% endblock %}
{% block content%}
    <br />

    <div class="container">
        <div class="row">

            <div class="col-5 p-4 m-2 col-page">
                <h1 align="left" class="mb-4">PENDING APPLICATIONS</h1>

                <table class="table table-hover">

                    {%set  l = user.getapplications() %}
                    {% if l %}
                        {% for offer in l %}
                            {% if offer.isAss==False %}
                                <thead class="thead-dark" style="color:whitesmoke; background:#2c3e50">
                                <tr>
                                    <th scope="col">TASK</th>
                                    <th scope="col">DATE</th>
                                    <th scope="col">DELETE APPLICATION</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row"><a style="color:darkblue" href={{ url_for('views.task', task_id=offer.id) }} >{{ offer.title }}</a></th>
                                    <td>{{ offer.date_task }}</td>
                                    <td><button type="button"  class="btn btn-outline-danger mx-4"><a class="delete-button" href={{ url_for('views.deleteapplication', task_id=offer.id) }} > Delete</a></button></td>
                                </tr>
                                </tbody>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        No task pending
                    {% endif %}


                </table>
            </div>
            <div class="col-1"></div>

            <!-- CLOSED APPLICATION -->

            <div class="col-5 p-4 m-2 col-page">
                <h1 align="left" class="mb-4">CLOSED APPLICATION</h1>
                <div class="row">
                    <h3 align="left" style="color: white; background: #2c3e50">TASK WON</h3>
                    {%set  l = user.taskwon() %}
                    {% if l %}
                        <ul class="mx-4">
                            {% for offer in l %}
                                <li>
                                    <a style="color:darkblue" href= {{ url_for('views.task', task_id=offer.id) }}>{{ offer.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div align="center">
                            We are sorry! You have no task won.
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <h3 class="mt-3" align="left" style="color: white; background: #2c3e50">TASK WON AND PERFORMED</h3>
                    {%set  l = user.taskwonandperform() %}
                    {% if l %}

                        <ul>
                            {% for offer in l %}
                                <div class="m-2" style="display: flex; justify-content: space-between">
                                    <li class="mx-4">
                                        {{ offer.title }}, posted by {{offer.poster.first_name}} </li>
                                    {% if not offer.isClosed %}
                                        <button style="" type="button" class="btn btn-outline-success mx-4"> <a class="review-button" href={{ url_for('views.writereview', task_id=offer.id) }} > Review </a></button>
                                        </div>
                                    {% endif %}

                            {% endfor %}
                        </ul>
                    {% else %}
                        <div align="center">
                            We are sorry! You have no task won.
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <h3 class="mt-3" align="left" style="color: white; background: #2c3e50">TASK LOST</h3>
                    {%set  l = user.tasklost() %}
                    {% if l %}
                        <ul class="mx-4" style="list-style: none">
                            {% for offer in l %}
                                <li  align="center">
                                    {{ offer.title }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div align="center">
                            There are no task lost!
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

    <br/><br/>

{% endblock %}