{% extends "base.html" %}
{% block title %}List of application{% endblock %}
{% block content %}
<br/>

<h1 align="center">YOUR APPLICATIONS</h1>
<div class="container">
    <div class="row">

        <div class="col-5 p-4 m-2 col-page">
            <h2 align="center" class="mb-4">Pending Applications</h2>
            <table class="table table-hover">
                {% set  l = user.getapplicationsopen() %}
                {% if l %}
                    {% for offer in l %}
                        {% if offer.isAss==False %}
                            <thead class="thead-dark" style="color:whitesmoke; background:#2c3e50">
                            <tr>
                                <th scope="col">Task</th>
                                <th scope="col">Date</th>
                                <th scope="col">Delete Application</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row"><a style="color:darkblue"
                                                   href={{ url_for('users.task', task_id=offer.id) }}>{{ offer.title }}</a>
                                </th>
                                <td>{{ offer.date_task }}</td>

                                <td>
                                    <button type="button" data-toggle="modal" data-target="#deleteApplication"
                                            class="btn btn-outline-danger mx-4">
                                        Delete
                                    </button>
                            </tr>
                            </tbody>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteApplication" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete
                                                application </h5>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete your application to this
                                            task?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">No
                                            </button>
                                            <button type="button" class="btn btn-primary">
                                                <a style="color:white; text-decoration: none;"
                                                   href={{ url_for('students.deleteapplication', task_id=offer.id) }}>
                                                    Yes</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="row">
                        <div align="center" class="col-4">
                            <img class="img-fluid" alt="sorry" src="/static/images/pic/sorry.png"/>
                        </div>
                        <div class="col-8" style="margin-top:2em;">
                            <div class="button-55">
                                You have no pending tasks!
                            </div>
                        </div>
                    </div>
                {% endif %}


            </table>
        </div>


        <div class="col-1"></div>

        <!-- CLOSED APPLICATION -->

        <div class="col-5 p-4 m-2 col-page">
            <h2 align="center" class="mb-4">Closed Applications</h2>
            <div class="row">
                <div class="col">
                    <h4 align="left">Task won</h4>
                    <table class="table table-hover">
                        {% set  l = user.taskwon() %}
                        {% if l %}
                            <thead class="thead-dark" style="color:whitesmoke; background:#2c3e50">
                            <tr>
                                <th scope="col">Task</th>
                                <th scope="col">Date</th>
                            </tr>
                            </thead>
                            {% for offer in l %}
                                <tbody>
                                <tr>
                                    <td>{{ offer.title }}</td>
                                    <td>{{ offer.date_task.strftime("%d/%m/%Y") }}</td>
                                </tr>
                                </tbody>
                            {% endfor %}
                        {% else %}
                            <div class="row">
                                <div class="col-" style="margin-top:2em;">
                                    <div class="button-task">
                                        We are sorry, you have no task won.
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </table>
                </div>
            </div>

            <div class="row">
                <h4 align="left">Task won and performed</h4>
                <div class="col">
                    <table class="table table-hover">
                        {% set  l = user.taskwonandperform() %}
                        {% if l %}
                            <thead class="thead-dark" style="color:whitesmoke; background:#2c3e50">
                            <tr>
                                <th scope="col">Task</th>
                                <th scope="col">Poster</th>
                                <th scope="col">Review</th>
                            </tr>
                            </thead>


                            {% for offer in l %}
                                <tbody>
                                <tr>
                                    <td>{{ offer.title }}</td>
                                    <td>{{ offer.poster.first_name }}</td>
                                    {% if not offer.isClosed %}
                                        <td>
                                            <button type="button" class="btn btn-outline-danger mx-4"><a
                                                    href={{ url_for('users.writereview', task_id=offer.id) }}>
                                                Review</a>
                                            </button>
                                        </td>
                                        </tr>
                                        </tbody>

                                    {% endif %}

                            {% endfor %}
                        {% else %}
                            <div class="row">
                                <div class="col-" style="margin-top:2em;">
                                    <div class="button-task">
                                        You have no task won to review!
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </table>
                </div>


                <div class="row">
                    <div class="col">
                        <h4 align="left">Task lost</h4>
                        <table class="table table-hover">
                            {% set  l = user.tasklost() %}
                            {% if l %}
                            <thead class="thead-dark" style="color:whitesmoke; background:#2c3e50">
                            <tr>
                                <th scope="col">Task</th>
                                <th scope="col">Date</th>
                            </tr>
                            </thead>
                            {% for offer in l %}
                            <tbody>
                            <tr>
                                <td>{{ offer.title }}</td>
                                <td>{{ offer.date_task.strftime("%d/%m/%Y") }}</td>
                            </tr>
                            </tbody>
                            {% endfor %}
                            {% else %}
                            <div class="row">
                                <div class="col-" style="margin-top:2em;">
                                    <div class="button-task">
                                        You have no tasks losted!
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<br/><br/>

{% endblock %}