{% extends "base.html" %}
{% block title %}List of application{% endblock %}
{% block content%}
    <br />

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h1 align="center">Pending applications</h1>

                <table class="table">

                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">TASK</th>
                        <th scope="col">DATE</th>
                        <th scope="col">DELETE APPLICATION</th>
                    </tr>
                    </thead>
                    {% for offer in user.applications %}
                        {% if offer.isAss==False %}
                            <tbody>
                            <tr>
                                <th scope="row"><a href={{ url_for('views.task', task_id=offer.id) }} >{{ offer.title }}</a></th>
                                <td>{{ offer.date_task }}</td>
                                <td><button type="button"  class="btn btn-dark"><a style="color: white" href={{ url_for('views.deleteapplication', task_id=offer.id) }} > Delete Application</a></button></td>
                            </tr>
                            </tbody>


                        {% endif %}
                    {% endfor %}
                </table>
            </div>

            <div class="col-sm-12 col-md-6">
                <h1 align="center">Closed application</h1>
                <div class="row">
                    <h4 align="center">Task won</h4>
                {%set  l = user.taskwon() %}
                    {% if l %}
                    {% for offer in l %}
                        <li class="list-group-item" align="center">
                        <a href= {{ url_for('views.task', task_id=offer.id) }}>{{ offer.title }}</a> vinta
                    {% endfor %}

                </div>
                <div class="row">
                    <h4 align="center">Task won and performed</h4>
                {%set  l = user.taskwonandperform() %}
                    {% if l %}
                    {% for offer in l %}
                        <li class="list-group-item" align="center">
                        {{ offer.title }}
                        {% if not offer.isClosed %}
                            <button> <a href={{ url_for('views.writereview', task_id=offer.id) }} > I performed the task. Review task poster</a></button>
                        {% endif %}
                    {% endfor %}
                    {% else %}
                        <li class="list-group-item" align="center">
                        No task won
                    {% endif %}
                </div>
                <div class="row">
                    <h4 align="center">Task lost</h4>
                    {%set  l = user.tasklost() %}
                    {% if l %}
                        {% for offer in l %}
                            <li class="list-group-item" align="center">
                            {{ offer.title }}
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item" align="center">
                        No task lost
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    <br/><br/>
    <br/><br/><br/><br/>

{% endblock %}