{% extends "base.html" %} {% block title %}Apply for Tasks{% endblock %} {% block content%}
 <br />
    <h1 align ="center">Task description</h1>

<div class="it-hero-wrapper">
  <div class="container">
    <div class="row">
        <div class="col-12">

          <div align = "center" class="it-hero-text-wrapper">
              <h1 class="no_toc">{{ taskscelta.title }}</h1>
              <p class="d-none d-lg-block">{{ taskscelta.description }}</p>
              Posted by: <a href="{{ url_for('views.showreviews', user_id=taskscelta.id_adult, task_id='0') }}">{{ taskscelta.poster.first_name }}{{ taskscelta.poster.surname }}</a>
                {% if btn ==True %}
              <div class="it-btn-container"><button class="btn btn-sm btn-outline-primary" > <a href={{ url_for('views.sendapplication', task_id=taskscelta.id) }} >Apply for This Task</a></button></div>
                {% endif %}
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}