{% extends "base.html" %}
{% block title %}Student choice{% endblock %}
{% block content%}

   <div class="container task-container">
        <div class="row task-row">
            <div class="col-12">
                <h1>Task name: {{ taskscelta.title }}</h1>
                <div>Task description: {{ taskscelta.description }}</div>
                <div>
                    <br/>
                    <h3>Applicants:</h3>
                    <br/>
                    {% if taskscelta.applicants %}
                    {% for applicant in taskscelta.applicants %}
                        <div align="left">
                            <a style="color:darkblue" href={{ url_for('users.showreviews', user_id=applicant.id, task_id=taskscelta.id) }} >{{ applicant.first_name }} {{ applicant.surname }}</a>
                            <div align="right">
                            <button type="button" style="background: #2c3e50" class="btn btn-primary btn-lg"><a style="color: white" href={{ url_for('adults.choosestud', task_id=taskscelta.id, stud_id=applicant.id) }} >Choose this student </a></button>
                            </div>
                        </div>
                        <br/>
                    {% endfor %}
                    {% else %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}
