{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
    <br />
    <h1 align="center">List of Task Posted</h1>
<ul class="list-group list-group-flush" id="offers">
  {% for offer in tasks %}
  <li class="list-group-item">
        {% if offer.isAss!=True %}
     <a href={{ url_for('views.task', task_id=offer.id) }} >{{ offer.title }}</a> {{ offer.date_task }}
      <div>
        {% for applicant in offer.applicants %}
            {{ applicant.id }}

          {% endfor %}
          <button type="button" class="close" > <a href={{ url_for('views.deletetask', task_id=offer.id) }}>
             <span aria-hidden="true">&times;</span>
          </a>
         </button>
          </div>
          <br/>
        {% endif %}


  </li>
  {% endfor %}
</ul>

{% endblock %}

