{% extends "base.html" %} {% block title %}Task to be performed{% endblock %} {% block content%}
    <br />
    <h1 align="center">List of Task Closed</h1>
<ul class="list-group list-group-flush" id="offers">
    {%  if pending|length != 0 %}
      {% for offer in pending %}
                <li class="list-group-item">
                    titolo task : {{ offer.title }}
                    performata da: {{ offer.performer.first_name }}
              <br/>
                    {% if offer.isAss==True and offer.isPerf==False %}
                <button> <a href={{ url_for('views.writereview', task_id=offer.id) }} > The task has been performed! Review the performer</a></button>
                </li>
                    {% endif %}
      {% endfor %}
    {% else %}
        No task pending
    {% endif %}
</ul>

{% endblock %}