{% extends "base.html" %}
{% block title %}Task to be performed{% endblock %}
{% block content %}

    <br/>
    <h1 align="center">YOUR TASKS</h1>

    <div class="container">
        <div class="row">

            <div class="col-5 p-4 m-2 col-page">
                <h2 align="center" class="mb-4">Open Tasks</h2>
                <table class="table table-hover">
                    {% set  l = user.gettasksopen() %}
                    {% if l %}
                        {% for offer in l %}
                            {% if offer.isAss==False %}
                                <thead class="thead-dark" style="color:whitesmoke; background:#2c3e50">
                                <tr>
                                    <th scope="col">Task</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row"><a style="color:darkblue"
                                                       href={{ url_for('users.task', task_id=offer.id) }}>{{ offer.title }}</a>
                                    </th>
                                    <td>{{ offer.date_task.strftime("%d/%m/%Y") }}</td>
                                    <td>
                                        <button type="button" class="btn btn-outline-danger mx-4"><a
                                                class="delete-button"
                                                href={{ url_for('adults.deletetask', task_id=offer.id) }}> Delete</a>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="row">
                            <div align="center" class="col-4">
                                <img class="img-fluid" alt="sorry" src="/static/images/pic/sorry.png"/>
                            </div>
                            <div class="col-8" style="margin-top:2em;">
                                <div class="button-55">
                                    You have no pending tasks!
                                </div>
                            </div>
                        </div>
                    {% endif %}

                </table>
            </div>

            <!--//////////////////////////////////////////-->

            <div class="col-1"></div>
            <div class="col-5 p-4 m-2 col-page">
                <h2 align="center" class="mb-4">Closed Tasks</h2>

                <div class="row">
                    <div class="col">
                        <h4 align="left">Closed and reviewed</h4>
                        <table class="table table-hover">
                            {% set  l = user.gettaskclosed() %}
                            {% if l %}
                                <thead class="thead-dark" style="color:whitesmoke; background:#2c3e50">
                                <tr>
                                    <th scope="col">Task</th>
                                    <th scope="col">Date</th>
                                </tr>
                                </thead>
                                {% for offer in l %}
                                    <tbody>
                                    <tr>
                                        <td>{{ offer.title }}</td>
                                        <td>{{ offer.date_task.strftime("%d/%m/%Y") }}</td>
                                    </tr>
                                    </tbody>
                                {% endfor %}
                            {% else %}
                                <div class="row">
                                    <div class="col-" style="margin-top:2em;">
                                        <div class="button-task">
                                            You have no closed and reviewed tasks!
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        </table>
                    </div>
                </div>


                <div class="row">
                    <h4 align="left">Assigned</h4>
                    <div class="col">
                        <table class="table table-hover">
                            {% set  l = user.gettaskclosed() %}
                            {% if l %}
                                <thead class="thead-dark" style="color:whitesmoke; background:#2c3e50">
                                <tr>
                                    <th scope="col">Task</th>
                                    <th scope="col">Performer</th>
                                    <th scope="col">Review</th>
                                </tr>
                                </thead>

                                {% if pending|length != 0 %}
                                    {% for offer in pending %}
                                        <tbody>
                                        <tr>
                                            <td>{{ offer.title }}</td>
                                            <td>{{ offer.performer.first_name }}</td>
                                            {% if offer.isAss==True and offer.isPerf==False %}
                                                <td>
                                                    <button type="button" class="btn btn-outline-danger mx-4"><a
                                                            href={{ url_for('users.writereview', task_id=offer.id) }}>
                                                        Review</a>
                                                    </button>
                                                </td>
                                                </tr>
                                                </tbody>
                                            {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                <div class="row">
                                    <div class="col-" style="margin-top:2em;">
                                        <div class="button-task">
                                            You have no tasks assigned to review!
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </table>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <h4 align="left">Expired, but not performed</h4>
                        <table class="table table-hover">
                            {% set  l = user.gettaskexpired() %}
                            {% if l %}
                                <thead class="thead-dark" style="color:whitesmoke; background:#2c3e50">
                                <tr>
                                    <th scope="col">Task</th>
                                    <th scope="col">Date</th>
                                </tr>
                                </thead>
                                {% for offer in l %}
                                    <tbody>
                                    <tr>
                                        <td>{{ offer.title }}</td>
                                        <td>{{ offer.date_task.strftime("%d/%m/%Y") }}</td>
                                    </tr>
                                    </tbody>
                                {% endfor %}
                            {% else %}
                                <div class="row">
                                    <div class="col-" style="margin-top:2em;">
                                        <div class="button-task">
                                            You have no tasks expired!
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        </table>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <br/><br/>
{% endblock %}