{% extends "base.html" %} {% block title %}Task to be performed{% endblock %} {% block content%}
    <br />
    <h1 align="center">List of Task Closed</h1>
<ul class="list-group list-group-flush" id="offers">
    {%  if pending|length != 0 %}
      {% for offer in pending %}
                <li class="list-group-item">
                    titolo task : {{ offer.title }}
                    performata da: {{ offer.performer.first_name }}
              <br/>
                    {% if offer.isAss==True and offer.isPerf==False %}
                <button> <a href={{ url_for('views.writereview', task_id=offer.id) }} > The task has been performed! Review the performer</a></button>
                </li>
                    {% endif %}
      {% endfor %}
    {% else %}
        No task pending
    {% endif %}
</ul>

     <div class="container">
        <div class="row">

            <div class="col-5 p-4 m-2 col-page">
                <h1 align="left" class="mb-4">TASK OPEN</h1>

                <table class="table table-hover">

                    {%set  l = user.gettasksopen() %}
                    {% if l %}
                        {% for offer in l %}
                            {% if offer.isAss==False %}
                                <thead class="thead-dark" style="color:whitesmoke; background:#2c3e50">
                                <tr>
                                    <th scope="col">TASK</th>
                                    <th scope="col">DATE</th>
                                    <th scope="col">DELETE APPLICATION</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row"><a style="color:darkblue" href={{ url_for('users.task', task_id=offer.id) }} >{{ offer.title }}</a></th>
                                    <td>{{ offer.date_task }}</td>
                                    <td><button type="button"  class="btn btn-outline-danger mx-4"><a class="delete-button" href={{ url_for('students.deleteapplication', task_id=offer.id) }} > Delete</a></button></td>
                                </tr>
                                </tbody>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        No task pending
                    {% endif %}


                </table>
            </div>
            <div class="col-1"></div>

            <!-- CLOSED APPLICATION -->

            <div class="col-5 p-4 m-2 col-page">
                <h1 align="left" class="mb-4">TASK CLOSED</h1>
                <div class="row">
                    <h3 align="left" style="color: white; background: #2c3e50">PERFORMED</h3>
                    {%set  l = user.gettaskclosed() %}
                    {% if l %}
                        <ul class="mx-4">
                            {% for offer in l %}
                                <li>
                                    <a style="color:darkblue" href= {{ url_for('users.task', task_id=offer.id) }}>{{ offer.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div align="center">
                            We are sorry! You have no task won.
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <h3 class="mt-3" align="left" style="color: white; background: #2c3e50">TASK EXPIRED AND NOT PERFORMED</h3>
                    {%set  l = user.gettaskexpired() %}
                    {% if l %}

                        <ul>
                        <div class="m-2" style="display: flex; justify-content: space-between">
                            {% for offer in l %}
                                    <li class="mx-4">
                                        {{ offer.title }}, posted by {{offer.poster.first_name}} </li>

                            {% endfor %}
                        </div>
                        </ul>
                    {% else %}
                        <div align="center">
                            We are sorry! You have no task won.
                        </div>
                    {% endif %}
                </div>

            </div>

        </div>
    </div>

    <br/><br/>


{% endblock %}