{% extends "base.html" %}
{% block title %}List of review of users{% endblock %}

{% block styles %}
{% endblock %}

{% block content%}
    <br />
    <h1 align="center">What people tell about {{ reviewed.first_name }} {{ reviewed.surname }}</h1>

    <div class="container">
        <div class="row">
            <div  align="center" class="reviews-box m-3">
                <h1 align="left" class="p-2">REVIEWS </h1>
                {% if reviewed.reviewsreceived|length !=0 %}
                    {% for recens in reviewed.reviewsreceived %}
                        <div class="box-review">
                            <h2>Reviewed by: <span class="review-author"> {{recens.author.first_name }}</span></h2>
                            <h4 class="review-title">{{ recens.title }}</h4>
                            {{ recens.text }}

                        </div>
                    {% endfor %}
                {% else %}
                    <div class="box-review">
                        We are sorry, there are no available reviews for this user.

                    </div>
                {% endif %}
                {% if user.type=='adult' %}
                    <button style="background: #2c3e50" class="btn btn-primary btn-lg" > <a style="color: white" href={{ url_for('views.choosestud', task_id=task_id, stud_id=reviewed.id) }} >CHOOSE THIS USER</a></button>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}