{% extends "base.html" %}
{% block title %}List of review of users{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <br/>
    <h1 align="center">About {{ reviewed.first_name }} {{ reviewed.surname }}</h1>



    <div class="container">
        <div class="row">
            <div align="center" class="col-3 profile-box m-3 p-3">
                <div style="display:inline">
                    <div style="position:relative; float:left">
                        {% if user.type=='student' %}
                            <img align="left" width="60" height="60" alt="usertype"
                                 src="/static/images/pic/worker.png"/>
                        {% elif user.type=='adult' %}
                            <img align="left" width="60" height="60" alt="usertype"
                                 src="/static/images/pic/student.png"/>
                        {% endif %}
                    </div>
                    <div style="position:relative; float:left;">
                        <h4 style="padding-top:8px;">User description</h4>
                    </div>
                </div>
                <br/><br/><br/>
                <div style="margin:2px 0px 0px 0px">
                    <div align="left">
                        {% if reviewed.description != None %}
                            <div class="profileDescription">
                                {{ reviewed.description }}
                            </div>
                        {% else %}
                            We are sorry! The user has no description.
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-8 reviews-box m-3">

                <h1 align="left" class="p-2">REVIEWS </h1>
                {% if reviewed.reviewsreceived|length !=0 %}
                    {% for recens in reviewed.reviewsreceived %}
                        <div class="box-review">
                            <h2>Reviewed by: <span class="review-author"> {{ recens.author.first_name }}</span></h2>
                            <h4 class="review-title">{{ recens.title }}</h4>
                            {{ recens.text }}

                        </div>
                    {% endfor %}
                {% else %}
                    <div class="box-review">
                        We are sorry, there are no available reviews for this user.
                    </div>
                {% endif %}


            </div>

            {% if user.type=='adult' %}
                <div class="row">
                <div align="center" class="col" >

                <button style="background: #2c3e50; max-width: 50%; max-height: 100%" class="btn">
                    <a style="color: white" href={{ url_for('adults.choosestud', task_id=task_id, stud_id=reviewed.id) }}>CHOOSE THIS STUDENT</a></button>
                </div>
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}