{% extends "base.html" %}
{% block title %}List of review of users{% endblock %}

{% block styles %}
{% endblock %}

{% block content%}
    <br />
    <h1 align="center">List review of {{ reviewed.first_name }}{{ reviewed.surname }}</h1>
<ul class="list-group list-group-flush" id="offers">

  <li class="list-group-item">
    {{ reviewed.first_name }} {{ reviewed.surname }}
      <div>
      {% if user.reviewsposted %}
        {% for recens in user.reviewsposted %}
            {{ recens.title }} {{ recens.text }}
            By: {{ recens.author.first_name }}
            {% if user.type=='adult' %}
                <br/>
            <button class="btn btn-sm btn-outline-primary" > <a href={{ url_for('views.choosestud', task_id=task_id, stud_id=reviewed.id) }} >Choose this student </a></button>
            {% endif %}
            </div>
          {% endfor %}
      {% else %}
        No reviews available for this user
      {% endif %}
  </li></ul>

{% endblock %}