{% extends "base.html" %} {% block title %}List of review of users{% endblock %} {% block content%}
    <br />
    <h1 align="center">List review: {{ reviewed.first_name }}{{ reviewed.surname }}</h1>
<ul class="list-group list-group-flush" id="offers">

  <li class="list-group-item">
    {{ reviewed.first_name }} {{ reviewed.surname }}
      <div>
      {% if recensioni %}
        {% for recens in recensioni %}
            {{ recens.title }} {{ recens.text }}
            By: {{ recens.author }}
            {% if user.type=='adult' %}
            <button class="btn btn-sm btn-outline-primary" > <a href={{ url_for('views.choosestud', task_id=taskscelta.id, stud_id=applicant.id) }} >Choose this student </a></button>
            {% endif %}
            </div>
          {% endfor %}
      {% else %}
        Scrivi quello che ti pare
      {% endif %}
  </li></ul>

{% endblock %}