<!-- Abbiamo esteso la pagina base -->
<!-- min.45 cose su come passare le variabili ad html-->
{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content%}

<form method = "POST">
    <br />
    <h1 align= "center"> UNITASK </h1>
<body>
Welcome to the online platform where you can post or look for simple task.
Proceed with the Login if you already have an account or <a href="sign_up.html">Signup</a> if you want to create a new account.

If you want to learn more about us click <a href="../about_us.html">here</a>.
</body>
<br/>
    <h2 align="center"> Login </h2>
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class = 'form-control') }}
        {% for error in form.email.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
     <div class="form-group">
         {{ form.password.label }}
         {{ form.password(class = 'form-control') }}
         {% for error in form.password.errors %}
             <p>{{ error }}</p>
         {% endfor %}
     </div>
    <br/>
    {{ form.submit(class='btn btn-primary m-2') }}
    {{ form.hidden_tag() }}
</form>
{% endblock %}