{% extends "base.html" %}

{% block title %}Sign-up{% endblock %}
{% block content%}

    <br/>

    <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid" style="max-height: 85%; min-width: 100%" src="/static/images/pic/garden.jpg"/>
        </div>
        <div class="col-sm-12 col-md-6">
            <h1 align="center"> <br/>Signup</h1>
        <div>Lorem ipsum dolor sit amet</div>
            <form method = "POST">
               <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class = 'form-control') }}
                {% for error in form.email.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
          <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class = 'form-control') }}
        {% for error in form.name.errors %}
            <p>{{ error }}</p>
        {% endfor %}
  </div>
    <div class="form-group">
        {{ form.surname.label }}
        {{ form.surname(class = 'form-control') }}
        {% for error in form.surname.errors %}
            <p>{{ error }}</p>
        {% endfor %}
  </div>
            <div class="form-group">
        {{ form.description.label }}
        {{ form.description(class = 'form-control') }}
        {% for error in form.description.errors %}
            <p>{{ error }}</p>
        {% endfor %}
  </div>

    <div class="form-group">
        {{ form.type.label}}
        {{ form.type(class_='btn btn-secondary dropdown-toggle m-3 p-2', style='') }}
        {% for error in form.type.errors %}
            <p>{{ error }}</p>
        {% endfor %}
  </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class = 'form-control') }}
            {% for error in form.password.errors %}
             <p>{{ error }}</p>
         {% endfor %}
  </div>
        <div class="form-group">
            {{ form.passwordconf.label }}
            {{ form.passwordconf(class = 'form-control') }}
            {% for error in form.passwordconf.errors %}
             <p>{{ error }}</p>
         {% endfor %}
  </div>
        <br />
    <div align="center">
  {{ form.submit(class='btn btn-success m-2') }}
    {{ form.hidden_tag() }}
    </div>
            </form>

            </div>
        </div>
    </div>

{% endblock %}