{% extends "base.html" %}
{% block title %}About us{% endblock %}
{% block content%}

    <br />

    <div class="container">
        <div class="row">
            <h1 align = "center" style="margin:1em;">UNITASK - About us</h1>
            <div align="justify">We are a group of students from <a href="https://www.polito.it/">Politecnico di Torino</a>.
                The idea which brought us to UNITASK is mainly related to our condition of students that want to
                have the possibility to earn some money in their free time.
                With our platform we want to give the possibility to people who need help to
                perform simple task, to reach young students as fast as possible.
                <br/><br/></div>
            <h2 style="margin:1em;" align="center">OUR TEAM</h2>
        </div>

            <div class="row">
                <div class="col-4">
                    <h3 align="center">Giacomo Bertazzolo</h3>
                    <img class="img-fluid m-4" style="box-shadow:1px 1px 1px 1px; border-radius:20em;" src="/static/images/team/Giacomo.png" class="rounded-circle">
                </div>
                <div class="col-4">
                    <h3 align="center">Pietro Carabelli</h3>
                    <img class="img-fluid m-4" style="box-shadow:1px 1px 1px 1px; border-radius:20em;" src="/static/images/team/Pietro.png"  class="rounded-circle">
                </div>
                <div class="col-4">
                    <h3 align="center">Valeria Liuni</h3>
                    <img class="img-fluid m-4" style="box-shadow:1px 1px 1px 1px; border-radius:20em;" src="/static/images/team/Valeria.png"  class="rounded-circle">
                </div>
                <div class="col-4" >
                    <h3 align="center">Caterina Nassi</h3>
                    <img class="img-fluid m-4" style="box-shadow:1px 1px 1px 1px; border-radius:20em;" src="/static/images/team/Caterina.png" class="rounded-circle">
                </div>
                <div class="col-4">
                    <h3 align="center">Samuele Stasi</h3>
                    <img class="img-fluid m-4" style="box-shadow:1px 1px 1px 1px; border-radius:20em;"  src="/static/images/team/Samuele.png" class="rounded-circle">
                </div>
                <div class="col-4">
                    <h3 align="center">Oliviero Vidoni</h3>
                    <img class="img-fluid m-4" style="box-shadow:1px 1px 1px 1px; border-radius:20em;" src="/static/images/team/Oliviero.png" class="rounded-circle">
                </div>
            </div>


{% endblock %}