<!-- Abbiamo esteso la pagina base -->
<!-- min.45 cose su come passare le variabili ad html-->
{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content%}

<form method = "POST">
    <br />
    <h3 align= "center"> Login </h3>
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class = 'form-control') }}
        {% for error in form.email.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
     <div class="form-group">
         {{ form.password.label }}
         {{ form.password(class = 'form-control') }}
         {% for error in form.password.errors %}
             <p>{{ error }}</p>
         {% endfor %}
     </div>
    <br/>
    {{ form.submit(class='btn btn-primary m-2') }}
    {{ form.hidden_tag() }}
</form>
{% endblock %}