{% extends "base.html" %} {% block title %}Apply for Tasks{% endblock %} {% block content%}
 <br />

<div class="it-hero-wrapper">
  <div class="container">
    <div class="row">
        <div class="col-12">

          <div class="it-hero-text-wrapper">
              <span class="it-category">Category</span>
              <h1 class="no_toc">{{ taskscelta.title }}</h1>
              <p class="d-none d-lg-block">{{ taskscelta.description }}</p>
              {{ taskscelta.id }}

              <div class="it-btn-container"><button class="btn btn-sm btn-outline-primary" > <a href={{ url_for('views.sendapplication', task_id=taskscelta.id) }} >Apply for This Task </a></button></div>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}