{% extends "base.html" %} {% block title %}Lista Review{% endblock %} {% block content%}
    <br />
    <h1 align="center">Lista review studente: {{ stud.id }}</h1>
<ul class="list-group list-group-flush" id="offers">

  <li class="list-group-item">
    {{ stud.first_name }} {{ stud.surname }}
      <div>
        {% for recens in recensioni %}
            {{ recens.title }} {{ recens.text }}
            <button class="btn btn-sm btn-outline-primary" > <a href={{ url_for('views.sceglistud', task_id=taskscelta.id, stud_id=applicant.id) }} >Scegli questo studente </a></button>
            </div>
          {% endfor %}


  </li></ul>

{% endblock %}